{
    "presets": [
        [
          "@babel/preset-env"
          // {
          //   "corejs": {
          //     "version": 2
          //   },
          //   "targets": "defaults",
          //   "useBuiltIns": "usage"
          // }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
       
}